* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #c1c0c2;
    font-family: "Lato", sans-serif;
}

.custom-container {
    width: 80%;
    margin: 0 auto;
}

.game-btn {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    padding: 5px 10px;
    margin-left: 10px;
    color: grey;
    text-transform: uppercase;
}

.sale {
    background-color: #00905e;
    color: #fff;
}

#main-nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #e2e2e2;
    width: 100%;
    box-shadow: 0px -4px 83px -5px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#main-nav .custom-container {
    display: flex;
    justify-content: space-between;
}

#main-nav .custom-container > a img {
    width: 70px;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 74px;
}

#main-nav ul li a {
    text-decoration: none;
    color: grey;
    width: 75px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
}

#main-nav ul li a i {
    margin-right: 3px;
}

/* NAV DROPDOWN */

#main-nav .basket-dropdown {
    position: absolute;
    background-color: #fff;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    width: 25%;
    transform: translateX(220%);
    top: 75px;
    display: none;
}

#main-nav .basket-dropdown .basket-sum {
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
}

#main-nav .basket-dropdown .basket-sum a {
    background: linear-gradient(to bottom, #b258e0, #7f3fc8);
    float: right;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}

#main-nav .basket-dropdown .basket-sum .games-amount-wrap {
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

#main-nav .basket-dropdown .basket-sum .basket-sum-content {
    display: inline-block;
    float: right;
    margin: 0;
}

#main-nav .basket-dropdown .basket-sum .basket-sum-content #game-price-sum {
    line-height: 49px;
}

#main-nav .basket-dropdown .basket-item {
    padding: 5px;
    border-bottom: 1px solid #d5d5d5;
    clear: left;
    overflow: hidden;
}

#main-nav .basket-dropdown .basket-item img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    width: 100px;
    height: 60px;
}

#main-nav .basket-dropdown .basket-item p {
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    cursor: pointer;
}

#main-nav .basket-dropdown .basket-item .game-delete {
    color: #fff;
    text-transform: capitalize;
    font-weight: normal;
    text-decoration: underline;
    transition: all .5s;
}

#main-nav .basket-dropdown .basket-item:hover .game-delete {
    color: grey;
}

#main-nav .basket-dropdown .basket-item .basket-game-price {
    float: right;
    display: inline-block;
    position: relative;
    top: -3px;
}

/* MAIN CONTENT */

#main-heading {
    margin-top: 120px;
    text-transform: uppercase;
    font-size: 1em;
}

.main-game-bg {
    height: 500px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.game-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.game-wrapper .game-item {
    display: inline-block;
    width: 19%;
    margin: 0;
}

.game-wrapper .game-items {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.game-wrapper .game-item figcaption {
    background-color: #fff;
    overflow: hidden;
    padding: 10px;
    position: relative;
    height: 90px;
}

.game-wrapper .game-item figcaption p {
    margin: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}

.game-wrapper .game-item figcaption .game-item-btns {
    /* float: right; */
    /* margin-top: 10px; */
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

/* RWD */

@media all and (max-width: 992px) {
    .custom-container {
        width: 100%;
    }

    #main-nav .basket-dropdown {
        transform: translateX(300%);
    }
}

@media all and (max-width: 800px) {
    .main-game-bg {
        background-size: cover;
        height: 200px;
    }

    #main-nav .basket-dropdown {
        width: 100%;
        transform: translateX(0);
    }

    .game-wrapper .game-item {
        width: 99%;
        margin: 10px;
    }
}